{% extends 'base.html.twig' %}

{% block title %}Single post = {{ post.id }} ={% endblock %}

{% block body %}
    {% block navigation %}
    {% endblock %}
    <style type="text/css">
        #left {
            padding-right: 3px !important;
        }

        #middle {
            /*padding-left: 3px !important;*/
        }

        #right {
            padding-left: 3px !important;
        }

        .col {
            padding: 10px;
            /*background-color: lightgrey*/
        }
    </style>



    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <div class="row" style="margin: 0" id="wrapper">
                        <div class="col-4" style="padding: 0; margin: 0" id="left">
                            <a class="btn btn-block btn-outline-info"
                               style="text-decoration: none" href="{{ path('micro_post_post', { id: post.id } ) }}">
                                Open
                            </a>
                        </div>

                                        
                        
                        {% if is_granted('edit', post) %}

                        <div class="col-4" style="padding: 0; margin: 0" id="middle">
                            <a class="btn btn-block btn-outline-warning"
                               style="text-decoration: none" href="{{ path('micro_post_edit', { id: post.id } ) }}">
                                Edit
                            </a>
                        </div>
                        <div class="col-4" style="padding: 0; margin: 0" id="right">
                            <a class="btn btn-block btn-outline-danger"
                               style="text-decoration: none" href="{{ path('micro_post_delete', { id: post.id } ) }}">
                                Delete
                            </a>
                        </div>
                        {% endif %}


                    </div>
                    <div class="list-group-item">
                        {{ post.text }}
                    </div>
                    <div class="list-group-item">
                        {{ post.user.username }} -  {{ post.time | date('m/d/Y') }}
                    </div>
                </div>
            </div>

        </div>
    </div>
    

    {##}
    {#{% if is_granted('edit', post) %}#}
        {#<h1>HELLO WORLD</h1>#}
    {#{% endif %}#}

{% endblock %}