{% extends 'base.html.twig' %}

{% block body %}


    <style type="text/css">

        #middle {
        }

        #right {
            padding-left: 3px !important;
        }

        .col {
            padding: 10px;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-group">

                    {% if is_granted('edit', post) %}
                        <div class="row" style="margin: 0" id="wrapper">
                            <div class="col-6" style="padding: 0; margin: 0" id="middle">


                                <a class="btn btn-block btn-outline-warning"
                                   style="text-decoration: none" href="{{ path('micro_post_edit', { id: post.id } ) }}">
                                    Edit
                                </a>


                            </div>
                            <div class="col-6" style="padding: 0; margin: 0" id="right">

                                <a class="btn btn-block btn-outline-danger"
                                   style="text-decoration: none"
                                   href="{{ path('micro_post_delete', { id: post.id } ) }}">
                                    Delete
                                </a>

                            </div>
                        </div>
                    {% endif %}

                    <div class="list-group-item">
                        {{ post.text }}
                    </div>
                    <div class="list-group-item">
                        <a href="{{ path('micro_post_user', { 'username': post.user.username }) }}">
                            {{ post.user.username }}
                        </a>
                        - {{ post.time | date('m/d/Y') }}
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}