{% extends 'base.html.twig' %}

{% block title %} Title for blog id: {{ id }} {% endblock %}

{% block body %}
    <h3>{{ post.title | upper }}</h3>
    <p>{{ post.text }}</p>
    <p>{{ post.date | date }}</p>
    <p>{{ post.date | date('H:i:s') }}</p>
    <p>{{ 560 | price }}</p>
    <p>Here is locale: {{ locale }}</p>
    <p>This is global from Twig yaml: {{ message }}</p>
{% endblock %}